<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello Form</title>
        <link href="../static/css/greet.css" rel="stylesheet">
    </head>
    <body>
        <div id='greet_form'> 
            <header>
                <h1>Hello Form</h1>
                <p>Form that Greets the user who submits it</p>
            </header>
            <main>
                <form action="/{{username}}" method="get">
                    <input id = "name" autocomplete="off" autofocus placeholder="Enter your name here: " name="username" type = "text">
                    <input type="submit" value = "Greet Me!">
                </form>
            </main>
        </div>
    </body>
</html>