header {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    border: 1px solid black;
}

#calculator {
    background-image: -webkit-linear-gradient(45deg, rgb(49, 47, 47), rgb(133, 132, 132));
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 25px;
    margin-left: 500px;
    padding: 10px;
}

#query {
    background-image: -webkit-linear-gradient(45deg, lightblue, rgb(165, 219, 237));
    color: black;
    padding: 10px;
    width: 276px;
    height: 50px;
    border: 2px solid black;
    text-align: right;
    font-size: x-large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#calculator-pad {
    padding: 2px;
    padding-top: 15px;
}

.pad-row {
    padding-left: 2px;
    width: 300px;
    height: 50px;
}

.pad-row input {
    width: 55px;
    height: 30px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(45deg, silver, white);
}